<%= render 'layouts/sidebar' %>

<div class="col-md-10 col-lg-6">
  <div class="card user-info mx-auto mt-1 shadow-lg">

    <div class="d-f-jc-sp">
      <h1>プロフィール</h1>
      <%= render 'end_user/parks/search_form' %>
    </div>
    <div class="prf-container">

      <%= image_tag @end_user.get_profile_image(100,100), class:"prf-img mt-2 rounded-circle" %>

      <div class="d-f-jc-sp">
      	<p><strong><%= @end_user.name %></strong></p>
      	<div>
        <% if current_end_user != @end_user %>
          <div><%= render "end_user/relationships/btn", end_user: @end_user %></div>
        <% else %>
          <% if @end_user.name != "guestuser" %>
            <%= link_to edit_end_user_path(@end_user), class: "link-btn link-darkmode" do %>
              <span>プロフィール編集</span>
            <% end %>
          <% end %>
        <% end %>
        </div>
      </div>

    	<p><%= @end_user.introduction %></p>

      <div class="relationships">
        <div class="following">
          <%= link_to end_user_followings_path(@end_user), class: "p-user-name link-darkmode" do %>
            <span><strong><%= @end_user.followings.count %></strong></span>
            <span>フォロー中</span>
          <% end %>
        </div>
        <div class="followers">
          <%= link_to end_user_followers_path(@end_user), class: "p-user-name link-darkmode" do %>
            <span><strong><%= @end_user.followers.count %></strong></span>
            <span>フォロワー</span>
          <% end %>
        </div>
      </div>

      <div class="mt-3">
        <% if current_end_user == @end_user %>
          <%= link_to favorites_end_user_path(@end_user) do %>
            <span class="link-btn link-darkmode">お気に入り記事</span>
          <% end %>
        <% end %>
      </div>
      <div>
        <% if current_end_user != @end_user && current_end_user.following?(@end_user) && @end_user.following?(current_end_user) %>
          <%= link_to chat_path(@end_user.id) do %>
            <span class="link-btn link-darkmode">メッセージを送る</span>
          <% end %>
        <% end %>
      </div>
    </div>

  <%= render 'end_user/parks/index', parks: @parks %>
  </div>
</div>

<%= render 'layouts/admin_information', admin_informations: @admin_informations %>