<h1>EndUsers#show</h1>

<p><%=link_to"お気に入り記事",favorites_end_user_path(@end_user) %></p>
<table class='table'>
  <tr>
    <th>
      <%= image_tag @end_user.get_profile_image(100,100) %>
    </th>
  </tr>
  <tr>
	<th>name</th>
	<th><%= @end_user.name %></th>
  </tr>
  <tr>
	<th>introduction</th>
	<th><%= @end_user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to @end_user.followings.count, end_user_followings_path(@end_user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to @end_user.followers.count, end_user_followers_path(@end_user) %></th>
  </tr>
</table>

<div class='row'>
  <% if current_end_user != @end_user %>
    <td><%= render "end_user/relationships/btn", end_user: @end_user %></td>
  <% else %>
    <% if @end_user.name != "guestuser" %>
      <%= link_to "edit", edit_end_user_path(@end_user) %>
    <% end %>
  <% end %>
</div>

<div>
  <%= render 'end_user/parks/index', parks: @parks %>
</div>
