<%= render 'layouts/sidebar' %>

<div class="col-md-6 col-sm-12 mx-sm-auto text-center rounded px-0 my-5 form-border">

  <div class="form-border">
    <h1  id="room" data-room="<%= @room.id %>" data-end_user="<%= current_end_user.id %>"><%= @end_user.name %> さんとのチャット</h1>
  </div>

  <div class="message chat-box">
    <% @chats.each do |chat| %>
      <% if chat.end_user_id == current_end_user.id %>
      <div class="m-myself">
        <span class="m-message"><%= chat.message %></span>
      </div>
      <% else %>
      <div class="m-partner">
        <span class="p-message"><%= chat.message %></span>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="errors">
    <%= render "layouts/errors", obj: @chat %>
  </div>

  <div>
    <%= form_with model: @chat, data: {remote: true} do |f| %>
    <div class="chat-box d-flx">
      <div class="mx-auto">
        <%= f.text_field :message ,class: "text-f" %>
        <%= f.hidden_field :room_id %>
      </div>
      <div class="px-2">
        <%= f.submit "送信", class: 'btn btn-success' %>
      </div>
    </div>
    <% end %>
  </div>

</div>

<%= render 'layouts/admin_information', admin_informations: @admin_informations %>
