<div class="col-8 m-auto">
  <h1>お知らせ</h1>
  <div class="errors">
    <%= render "layouts/errors", obj: @admin_information %>
  </div>
  <%= render 'form', admin_information: @admin_information %>
  <table class="table table-hover">
  <% @admin_informations.each do |admin_information| %>
    <tr>
      <th><%= admin_information.information %></th>
      <th><%= admin_information.created_at.strftime('%Y/%m/%d') %></th>
      <th>
      <%= link_to admin_admin_information_path(admin_information), method: :delete, class: "btn btn-danger" ,data: { confirm: '本当に削除しますか？' } do %>
        <span>削除</span>
      <% end %>
      </th>
    </tr>
  <% end %>
  </table>
</div>
