<%= form_with model: park, local:true do |f| %>
  <div class="form-group">
    <%= f.label :image, class: "mb-0" %><br />
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div class="form-group">
    <%= f.label :name, class: "mb-0" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :introduction, class: "mb-0" %><br />
    <%= f.text_area :introduction %>
  </div>
  <div class="form-group">
    <%= f.label :tag, class: "mb-0" %><br />
    <%= f.text_field :tag_name %>
  </div>
  <div class="form-group">
    <%= f.label :address, class: "mb-0" %><br />
    <%= f.text_field :address, id:"address" %>
  </div>
  <input type="button" value="住所を検索" onclick="codeAddress()">
  <div id="map">
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success mt-3' %>
  </div>
<% end %>
