<div class="scroll-list jscroll">
  <% parks.each do |park| %>
  <article class="card mx-auto mt-1 form-border">

    <h2 class="m-4"><%= link_to park.name, park,data: {"turbolinks" => false} %></h2>
    <%= image_tag park.get_image(500,500), class:"card-img-top"; %>

    <div class="card-body">
      <div class="row">

        <div class="col-2">
          <div class="post-prf">
          <%= link_to(park.end_user) do %>
            <%= image_tag park.end_user.get_profile_image(90,90), class:"prf-img rounded-circle" %>
          <% end %>
          </div>
        </div>

        <div class="col-10">
          <p class="card-title"><%= park.address %></p>
          <p class="card-title"><%= park.introduction %></p>
          <div>
            <% park.tags.each do |tag| %>
              <span class="tag-item"><%= tag.name %></span>
            <% end %>
          </div>
          <div class="post-info">
            <p><%= park.end_user.name %></p>
            <p><%= park.created_at.strftime('%Y/%m/%d') %></p>
          </div>
        </div>

      </div>
    </div>

  </article>
  <% end %>
  <%= paginate parks %>
</div>

<script>
  $(window).on('scroll', function() {
  scrollHeight = $(document).height();
  scrollPosition = $(window).height() + $(window).scrollTop();
  if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.05) {
    $('.jscroll').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a'
    });
  }
});
</script>
