<h1>Parks#show</h1>

<table class='table'>
  <tr>
    <td>
      <%= link_to(@park.end_user) do %>
        <%= image_tag @park.end_user.get_profile_image(100,100) %><br>
        <%= @park.end_user.name %>
      <% end %>
    </td>
    <td><%= image_tag @park.get_image(100,100) %></td>
    <td><%= link_to @park.name, @park %></td>
    <td><%= @park.introduction %></td>
    <% if @park.end_user == current_end_user %>
    <td>
      <%= link_to 'Edit', edit_park_path(@park) %>
    </td>
    <td>
      <%= link_to 'Destroy', @park, method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </td>
    <% end %>
 　</tr>
</table>

<div class="book-comments-index">
  <%= render "end_user/park_comments/index", park: @park %>
</div>

<div>
  <%= render "end_user/park_comments/form", park: @park, park_comment: @park_comment %>
</div>
