<%= render 'layouts/sidebar' %>

<div class="col-9">
  <div class="post-detail mx-auto py-3 bg-light">
    <h1>投稿詳細</h1>
    <div class="card mx-auto shadow-lg">

      <h2 class="m-2"><%= @park.name %></h2>
      <%= image_tag @park.get_image(500,500) %>

      <div class='card-body'>
        <div class="row">

          <div class="col-2">
            <%= link_to(@park.end_user) do %>
              <%= image_tag @park.end_user.get_profile_image(100,100), class:"prf-img mt-1 rounded-circle" %>
            <% end %>
          </div>

          <div class="col-10">
            <p class="card-title"><%= @park.end_user.name %></p>
            <p class="card-title"><%= @park.introduction %></p>
            <p class="card-title">
              <% @park.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </p>
            <div class="card-title" id="show-map"></div>
            <div class="card-title" id="favorite_buttons_<%= @park.id %>">
              <%= render "end_user/favorites/btn", park: @park %>
            </div>
            <% if @park.end_user == current_end_user %>
            <div>
              <%= link_to 'Edit', edit_park_path(@park), data: {"turbolinks" => false} %>
            </div>
            <div>
              <%= link_to 'Destroy', @park, method: :delete, data: { confirm: '本当に削除しますか？' } %>
            </div>
            <% end %>
          </div>

        </div>

        <hr>

        <div class="comments card-text">
          <h4>件のコメント</h4>
          <div class="park-comments-index">
            <%= render "end_user/park_comments/index", park: @park %>
          </div>
        </div>

        <div class="new-comments card-text">
          <%= render "end_user/park_comments/form", park: @park, park_comment: @park_comment %>
        </div>

      </div>

    </div>
  </div>
</div>

<script>
  let map
  // map表示機能
  function initMap(){
       map = new google.maps.Map(document.getElementById('show-map'), {
         center: {lat: gon.park.latitude, lng: gon.park.longitude},
         zoom: 12,
       });

       marker = new google.maps.Marker({
         position:  {lat: gon.park.latitude, lng: gon.park.longitude},
         map: map
       });
  }
</script>
