<%= render 'layouts/sidebar' %>

<div class="col-md-10 col-lg-9">
  <div class="post-detail mx-auto py-3">
    <h1>投稿詳細</h1>
    <div class="card mx-auto shadow-lg">

      <h2 class="m-4"><%= @park.name %></h2>
      <%= image_tag @park.get_image(500,500) %>

      <div class='card-body'>
        <div class="row">

          <div class="col-2">
            <div class="post-prf">
              <%= link_to(@park.end_user) do %>
                <%= image_tag @park.end_user.get_profile_image(100,100), class:"prf-img rounded-circle" %>
              <% end %>
            </div>
          </div>

          <div class="col-10 w-100">
            <div class="post-info">
              <p class="card-title"><%= @park.end_user.name %></p>
              <p><%= @park.created_at.strftime('%Y/%m/%d') %></p>
            </div>
            <p class="card-title"><%= @park.introduction %></p>
            <div>
              <% @park.tags.each do |tag| %>
                <span class="tag-item"><%= tag.name %></span>
              <% end %>
            </div>
            <p class="card-title"><%= @park.address %></p>
            <div id="show-map"></div>
            <div class="post-info">
              <div id="favorite_buttons_<%= @park.id %>">
                <%= render "end_user/favorites/btn", park: @park %>
              </div>
              <% if @park.end_user == current_end_user %>
              <div>
                <%= link_to edit_park_path(@park),class: "btn btn-success", data: {"turbolinks" => false} do %>
                  <span>編集</span>
                <% end %>
              </div>
              <div>
                <%= link_to @park, method: :delete,class: "btn btn-danger" ,data: { confirm: '本当に削除しますか？' } do %>
                  <span>投稿を削除</span>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>

        </div>

        <hr>

        <div class="comments card-text w-100 p-3">
          <h4>件のコメント</h4>
          <div class="park-comments-index">
            <%= render "end_user/park_comments/index", park: @park %>
          </div>
        </div>

        <div class="errors">
          <%= render "layouts/errors", obj: @park_comment %>
        </div>

        <div class="new-comments card-text w-100 p-3">
          <%= render "end_user/park_comments/form", park: @park, park_comment: @park_comment %>
        </div>

      </div>

    </div>
  </div>
</div>

<script>
  let map
  // map表示機能
  function initMap(){
       map = new google.maps.Map(document.getElementById('show-map'), {
         center: {lat: gon.park.latitude, lng: gon.park.longitude},
         zoom: 12,
       });

       marker = new google.maps.Marker({
         position:  {lat: gon.park.latitude, lng: gon.park.longitude},
         map: map
       });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
